@import "fonts.css";
@import "blocks/promo.css";
@import "blocks/header.css";
@import "blocks/buttons.css";
@import "blocks/advantages.css";
@import "blocks/consultation.css";
@import "blocks/forms.css";
@import "blocks/carousel.css";
@import "blocks/catalog.css";
@import "blocks/review.css";
@import "blocks/footer.css";
@import "blocks/modal.css";
@import "blocks/pageup.css";
@import "blocks/map.css";
@import "animations.css";
@import "media.css";


* {
  font-family: 'Museo Sans Cyrl', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
