.advantages {
  min-height: 470px;
  background-color: #f6f6f6;
  padding: 69px 0 78px 0;
}

.advantages .advantages__header {
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
  text-align: center;
}

.advantages .advantages__icons {
  margin-top: 65px;
  display: flex;
  justify-content: space-around;
}

.advantages .advantages__icons .advantages__icon {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.advantages .advantages__icons .advantages__icon .advantages__icon_animated {
  animation: heartbeat 1.5s ease infinite;
}

.advantages .advantages__icons .advantages__icon .advantages__icon_test {
  animation: test 3s ease infinite paused;
}

.advantages .advantages__icons .advantages__icon .advantages__icon_test:hover {
  animation: test 3s ease infinite running;
}

.advantages .advantages__icons .advantages__icon .advantages__title {
  margin-top: 38px;
  font-size: 18px;
  font-weight: 700;
  color: #0d0d0d;
}

.advantages .advantages__icons .advantages__icon .advantages__subtitle {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 300;
  color: #0d0d0d;
  text-align: center;
}

.advantages .advantages__icons .advantages__icon .advantages__subtitle span {
  text-decoration: underline;
  color: #ff0000;
}
