.catalog {
  min-height: 1200px;
  padding-bottom: 103px;
}

.catalog .catalog__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d0d0d;
  text-align: center;
}

.catalog .catalog__tabs {
  margin: 0 auto;
  display: flex;
  width: 660px;
  justify-content: space-between;
  list-style: none;
}

.catalog .catalog__tabs .catalog__tab {
  margin-top: 69px;
  width: 220px;
  height: 50px;
  background: url("../../icons/tabs_border.png") center center/cover no-repeat;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6b6b6b;
  cursor: pointer;
  /* transform: skewX(-25deg); */
}

.catalog .catalog__tabs .catalog__tab.catalog__tab_active {
  background-color: #c70101;
  background: url("../../icons/tabs_border_active.png") center center/cover no-repeat;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog .catalog__descr {
  display: none;
}

.catalog .catalog__descr.catalog__descr_active {
  display: flex;
  transition: 0.5s all;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item {
  overflow: hidden;
  position: relative;
  margin-top: 59px;
  width: 300px;
  height: 440px;
  border: 2px solid #e8e8e8;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e8e8e8;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #0d0d0d;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content span {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  color: #0d0d0d;
  text-align: center;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content button, .catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content-hide button {
  margin: 17px 0 20px 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: #c70101;
  border: none;
  background-color: white;
  cursor: pointer;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content img {
  max-width: 100%;
  height: 200px;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__sell {
  padding: 0 20px 20px 20px;
  position: relative;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__sell h3 {
  text-decoration: line-through;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #555555;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__sell span {
  margin-top: 9px;
  font-size: 20px;
  font-weight: 700;
  color: #050505;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {from
  {opacity: 0.1;}
  to{opacity: 1;}}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content-hide {
  top: 0;
  position: absolute;
  margin: 0 20px 0 20px;
  padding: 20px 0 19px 0;
  height: 346px;
  border-bottom: 2px solid #e8e8e8;
  transform: translateX(320px);
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content-hide ul {
  list-style-image: url('../../icons/tab_point.png');
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content-hide li {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  margin-top: 25px;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content-hide li:first-child {
  margin-top: 0;
}

.catalog .catalog__descr.catalog__descr_active .catalog__item .catalog__content-hide button {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.catalog__item-wrapper {
  transition: 1s all;
  /* transform: translateX(-320px); */
}
