.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../../img/bg/header_bg.png") left center/cover no-repeat;
}

.promo .promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}

.promo .promo__header {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.promo .promo__subheader {
  margin-top: 17px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.promo .promo__icons {
  margin-top: 65px;
  width: 425px;
  display: flex;
  justify-content: space-between;
}

.promo .promo__icons .promo__icon {
  width: 108px;
  text-align: center;
  color: #ffffff;
  font-style: 14px;
  font-weight: 500;
}

.promo .promo__icons .promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.promo .promo__wrapper .promo__link {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.promo .promo__wrapper .promo__link a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #ffffff;
}
