.review {
  min-height: 945px;
  padding-bottom: 71px;
}

.review .review__title {
  margin-bottom: 70px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d0d0d;
  text-align: center;
}

.review .review__content {
  margin-bottom: 102px;
  display: flex;
  align-items: flex-start;
}

.review .review__content:last-child {
  margin-bottom: 0;
}

.review .review__content .review__descr {
  margin-left: 60px;
  width: 650px;
}

.review .review__content .review__descr .review__name {
  font-size: 18px;
  font-weight: 700;
  color: #0d0d0d;
}

.review .review__content .review__descr .review__comment {
  font-size: 16px;
  font-weight: 300;
  color: #0d0d0d;
}

.review .review__content .review__descr .review__comment span {
  margin: 10px 0 19px 0;
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #646464;
}
