.benefit {
  min-height: 680px;
}

.benefit .benefit__wrapper {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}

.benefit .benefit__wrapper .benefit__left, .benefit .benefit__wrapper .benefit__right {
  width: 375px;
}

.benefit .benefit__wrapper .benefit__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  position: relative;
}

.benefit .benefit__wrapper .benefit__title::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -52px;
  width: 15px;
  height: 15px;
  background: var(--main-color);
  border-radius: 50%;
  z-index: 1;
}

.benefit .benefit__wrapper .benefit__item {
  margin-top: 45px;
}

.benefit .benefit__wrapper .benefit__item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 185px;
  background: black;
  top: -59px;
  left: -45px;
  z-index: 1;
}

.benefit .benefit__wrapper .benefit__item .item__title {
  margin-left: 56px;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  position: relative;
  z-index: 1;
}

.benefit .benefit__wrapper .benefit__item .item__title::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -58px;
  width: 36px;
  height: 36px;
  background: var(--main-color);
  border-radius: 50%;
  z-index: -1;
}

.benefit .benefit__wrapper .benefit__item .item__title::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 1px;
  background: black;
  top: 20px;
  left: -100px;
  z-index: 1;
}

.benefit .benefit__wrapper .benefit__item .item__title span {
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}

.benefit .benefit__wrapper .benefit__item .item__descr {
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
