.contact {
  min-height: 700px;
  padding-bottom: 91px;
}

.contact .about__content .about__descr .contact__text {
  margin-top: 24px;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.contact .about__content .about__descr .contact__socials {
  margin-top: 20px;
}

.contact .about__content .about__descr .contact__socials .social__link {
  margin-right: 25px;
}

.contact .about__content .about__descr .contact__socials .social__link img {
  width: 30px;
  height: 30px;
}

.contact .about__content .about__descr .contact__socials .social__link #fb {
  transform: rotate(90deg);
}

.contact .about__content .about__descr .contact__form {
  margin-top: 30px;
  position: relative;
}

.contact .about__content .about__descr .contact__form input {
  padding: 14px 0 13px 20px;
  width: 280px;
  height: 45px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-right: 25px;
  z-index: -1;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  border-color: none;
}

.contact .about__content .about__descr .contact__form label:nth-child(2) {
  position: absolute;
  top: -12px;
  left: 19px;
  z-index: 1;
  background: white;
  padding: 0 8px 0 8px;
}

.contact .about__content .about__descr .contact__form label:nth-child(4) {
  position: absolute;
  top: -12px;
  left: 326px;
  z-index: 1;
  background: white;
  padding: 0 8px 0 8px;
}

.contact .about__content .about__descr .contact__form label:nth-child(6) {
  position: absolute;
  top: 62px;
  left: 19px;
  z-index: 1;
  background: white;
  padding: 0 8px 0 8px;
}

.contact .about__content .about__descr .contact__form textarea {
  resize: none;
  margin-top: 30px;
  width: 585px;
  height: 190px;
  border: 1px solid #000000;
  padding: 0 0 0 20px;
}

.contact .about__content .about__descr .contact__form label:nth-child(9) {
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}

.contact .about__content .about__descr .contact__form .contact__valid {
  width: 585px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .about__content .about__descr .contact__form .contact__valid label {
  font-size: 14px;
}

.contact .about__content .about__descr .contact__form #checkbox {
  margin-left: 5px;
  width: 11px;
  height: 11px;
  border: 1px solid #000000;
}
