.header__socials {
  position: fixed;
  align-items: center;
  display: flex;
  transform: rotate(-90deg);
  left: -100px;
  top: 390px;
  z-index: 2;
}

.header__socials .header__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin-right: 15px;
}

.header__socials span {
  width: 70px;
  height: 2px;
  border: none;
  background: black;
  margin-right: 15px;
}

.header__socials .header__link {
  text-decoration: none;
}

.header__socials .header__link .header__image {
  transform: rotate(90deg);
  margin-right: 15px;
  margin-top: 3px;
  width: 20px;
  height: 20px;
}
