.title {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  position: relative;
}

.subtitle {
  font-weight: bold;
  font-size: 48px;
  color: #000000;
  line-height: 60px;
}

.title.title_main {
  margin-left: 10px;
  z-index: 1;
}

.title.title_main::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -10px;
  width: 36px;
  height: 36px;
  background: var(--main-color);
  border-radius: 50%;
  z-index: -1;
}

.subtitle.subtitle_main {
  margin: 9px 0 25px 0;
  width: 532px;
  height: 129px;
}

.title.title_about {
  margin: 6px 0 0 12px;
  z-index: 1;
}

.title.title_about::after {
  content: "";
  position: absolute;
  top: -25%;
  left: -15px;
  width: 36px;
  height: 36px;
  background: var(--main-color);
  border-radius: 50%;
  z-index: -1;
}

.subtitle.subtitle_about {
  margin-top: 6px;
  line-height: 48px;
  position: relative;
}

.subtitle.subtitle_about::after {
  content: "";
  position: absolute;
  top: 58px;
  left: 0;
  width: 60px;
  height: 2px;
  background: var(--main-color);
}

.title.title_benefit, .title.title_use {
  text-align: center;
  z-index: 1;
}

.title.title_benefit::before, .title.title_use::before, .title.title_percent::before, .title.title_project::before, .title.title_price::before, .title.title_item::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 552px;
  width: 36px;
  height: 36px;
  background: var(--main-color);
  border-radius: 50%;
  z-index: -1;
}

.subtitle.subtitle_benefit, .subtitle.subtitle_use, .subtitle.subtitle_project, .subtitle.subtitle_price {
  text-align: center;
  margin-top: 6px;
  position: relative;
}

.subtitle.subtitle_benefit::after, .subtitle.subtitle_use::after,  .subtitle.subtitle_project::after, .subtitle.subtitle_price::after {
  content: "";
  position: absolute;
  top: 91px;
  left: 542px;
  width: 60px;
  height: 2px;
  background: var(--main-color);
}

.title.title_percent::before {
  top: -6px;
  left: -11px;
}

.title.title_project, .title.title_price {
  text-align: center;
}

.subtitle.subtitle_price::after {
  top: 34px;
}

.title.title_item::before {
  width: 15px;
  height: 15px;
  top: 4px;
  left: -25px;
}
