.container {
  background: url("../../img/content-bg.jpg") center top no-repeat white;
  background-size: cover;
}

.content__wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 462px));
  grid-template-rows: 280px 280px;
  grid-gap: 57px;
  margin-top: 25px;
}

.content__link--two {
  background: url('../../img/muscle-mass2.jpg') right no-repeat;
  background-size: cover;
}

.content__text, .content__text--first, .content__text--second, .content__text--third {
  padding-top: 25px;
  font-size: 30px;
  font-weight: 800;
  line-height: 75px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f84545;
  text-align: center;
  text-shadow: black 1px 1px 2px;
}

.content__link:nth-child(2) {
  background: url("../../img/power.jpg") right;
  background-size: cover;
}

.content__link:nth-child(3) {
  background: url("../../img/suchy.jpg") center;
  background-size: cover;
}

.content__link--two {
  grid-column: 1/3;
  grid-row: 1/3;
}

.content__link {
  display: grid;
  grid-template-columns: span 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.content__link::after {
  content: '';
  background-image: linear-gradient(0deg, rgb(26, 26, 26) 0%, rgba(26, 26, 26, 0) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content__name {
  text-shadow: black 1px 1px 2px;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 16px;
  color: white;
  font-weight: 600;
  transition-duration: 500ms;
  transition-property: letter-spacing, color
}

.content__link:hover .content__name {
  letter-spacing: 12px;
  color: #f84545;
}

.content__link--first:nth-child(1) {
  background: url("../../img/muscle-mass--first.jpg") center;
  background-size: cover;
}

.content__link--first:nth-child(2) {
  background: url("../../img/suchy--first.jpg") right;
  background-size: cover;
}

.content__link--first:nth-child(3) {
  background: url("../../img/slimming--first.jpg") right;
  background-size: cover;
}

.content__wrap--first {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 462px));
  grid-template-rows: 280px;
  grid-gap: 57px;
  margin-top: 25px;

}

.content__link--first {
  display: grid;
  grid-template-columns: span 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.content__link--first::after {
  content: '';
  background-image: linear-gradient(0deg, rgb(26, 26, 26) 0%, rgba(26, 26, 26, 0) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content__name--first {
  text-shadow: black 1px 1px 2px;
  font-size: 24px;
  line-height: 45px;
  letter-spacing: 16px;
  color: white;
  font-weight: 600;
  transition-duration: 500ms;
  transition-property: letter-spacing, color;
}

.content__link--first:hover .content__name--first {
  letter-spacing: 12px;
  color: #f84545;
}

.content__link--second:nth-child(1) {
  background: url("../../img/nutrition2.jpg") right;
  background-size: cover;
}

.content__link--second:nth-child(2) {
  background: url("../../img/nutrition1.jpg") center;
  background-size: cover;
}
.content__wrap--second {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 462px));
  grid-template-rows: 280px;
  grid-gap: 57px;
  margin-top: 25px;

}
.content__link--second--two {
  grid-column: 1/3;
  grid-row: 1/2;
}
.content__link--second {
  display: grid;
  grid-template-columns: span 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.content__link--second::after {
  content: '';
  background-image: linear-gradient(0deg, rgb(26, 26, 26) 0%, rgba(26, 26, 26, 0) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.content__name--second {
  text-shadow: black 1px 1px 2px;
  font-size: 22px;
  line-height: 45px;
  letter-spacing: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: 500ms;
  transition-property: letter-spacing, color;
}
.content__link--second:hover .content__name--second {
  letter-spacing: 8px;
  color: #f84545;
}

.content__link--third:nth-child(1) {
  background: url("../../img/kardio.jpg") center;
  background-size: cover;
}
.content__link--third:nth-child(2) {
  background: url("../../img/HIIT.jpg") center;
  background-size: cover;
}
.content__link--third:nth-child(3) {
  background: url("../../img/strech.jpg") center;
  background-size: cover;
}
.content__link--third:nth-child(4) {
  background: url("../../img/razminka.jpg") center;
  background-size: cover;
}
.content__link--third:nth-child(5) {
  background: url("../../img/zaminka.jpg") center;
  background-size: cover;
}
.content__link--third:nth-child(6) {
  background: url("../../img/period.jpg") left;
  background-size: cover;
}
.content__link--third:nth-child(7) {
  background: url("../../img/neiro.jpg") center;
  background-size: cover;
}
.content__link--third:nth-child(8) {
  background: url("../../img/otkaz.jpg") left;
  background-size: cover;
}
.content__wrap--third {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 462px));
  grid-template-rows: 280px 280px;
  grid-gap: 15px;
  margin-top: 25px;

}
.content__link--third {
  display: grid;
  grid-template-columns: span 1;
  padding-left: 20px;
  padding-right: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.content__link--third::after {
  content: '';
  background-image: linear-gradient(0deg, rgb(26, 26, 26) 0%, rgba(26, 26, 26, 0) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.content__name--third {
  text-shadow: black 1px 1px 2px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 6px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: 500ms;
  transition-property: letter-spacing, color;
}
.content__link--third:hover .content__name--third {
  letter-spacing: 5px;
  color: #f84545;
}


@media (max-width: 1420px) {
  .content__name {
    font-size: 20px;
    letter-spacing: 12px;
  }

  .content__link:hover .content__name {
    letter-spacing: 8px;
  }

  @media (max-width: 1100px) {
    .content__name {
      font-size: 14px;
      letter-spacing: 8px;
      line-height: 35px;
    }

    .content__text, .content__text--first, .content__text--second, .content__text--third {
      font-size: 20px;
    }

    .content__link:hover .content__name {
      letter-spacing: 6px;
    }

    .content__name--first {
      font-size: 14px;
      letter-spacing: 6px;
    }



    .content__link--first:hover .content__name--first {
      letter-spacing: 4px;
    }

  }
  @media (max-width: 1460px) {
    .content__name--second {
    font-size: 18px;
    letter-spacing: 6px;
  line-height: 35px;}
  .content__link--second:hover .content__name--second {
    letter-spacing: 3px;}
  }
  @media (max-width: 1100px) {
    .content__name--second {
      font-size: 12px;
    line-height: 30px;
  letter-spacing: 4px;}
  .content__name--third {
    font-size: 12px;
    line-height: 20px
  }
  }
  @media (max-width: 940px) {
     .content__link--third {
       padding-bottom: 10px;
     }
    .content__name--third {
      font-size: 8px;
      line-height: 15px;
      letter-spacing: 4px;
    }
    .content__link--third:hover .content__name--third {
      letter-spacing: 3px;
    }
  }



  @media (max-width: 890px) {
    .content__wrap {
      grid-template-columns: 1fr;
      grid-template-rows: 300px 300px 300px;
      grid-gap: 30px;
    }

    .content__link--two, .content__link--second--two {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .content__name, .content__name--first, .content__name--second, .content__name--third  {
      font-size: 20px;
      letter-spacing: 12px;
      line-height: 35px;
    }

    .content__link:hover .content__name {
      letter-spacing: 8px;
    }

    .content__text, .content__text--first, .content__text--second, .content__text--third {
      font-size: 20px;
    }


    .content__link--first:hover .content__name--first {
      letter-spacing: 8px;
    }
    .content__link--second:hover .content__name--second {
      letter-spacing: 10px;
    }
    .content__link--third:hover .content__name--third {
      letter-spacing: 8px;
    }
    .content__link--third {
      padding-bottom: 35px;
    }

    .content__wrap--first {
      grid-template-columns: 1fr;
      grid-template-rows: 300px 300px 300px;
      grid-gap: 30px;}

      .content__wrap--second {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
        grid-gap: 30px;}
      .content__wrap--third {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 300px);
        grid-gap: 30px;
      }
  }
