.header {
  background: url("../../img/header-bg.jpg") center top no-repeat black;
  background-size: cover;
}

.header__wpar {
  padding-bottom: 65px;
}

.logo__img {
  display: block;
  height: 90px;
  width: 226px;
}

.logo__link {
  display: block;
}

.header__logo {
  margin-left: 100px;
  margin-top: 20px;
}

.header__top {
  display: grid;
  grid-template-columns: 330px 1fr;
  align-items: center;
}

.header__info {
  margin-top: 16.6%;
  margin-bottom: 16.6%;
}

.header__title {
  color: white;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: 8px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
}

.header__text {
  text-align: center;
}

.header__link {
  font-size: 30px;
  font-weight: 800;
  line-height: 75px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f84545;
  letter-spacing: 14px;
  transition-duration: 500ms;
  transition-property: letter-spacing;
}

.header__link:hover {
  letter-spacing: 6px;
}

.header__btn {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 84px;
  height: 42px;
  animation: strela 1s infinite;
}

@keyframes strela {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 1300px) {
  .header__title {
    font-size: 20px;
  }

  .header__link {
    font-size: 22px;
  }
}

@media (max-width: 912px) {
  .header__title {
    font-size: 14px;
  }

  .header__link {
    font-size: 18px;
    letter-spacing: 10px;
  }

  @media (max-width: 845px) {
    .header__logo {
      margin-left: 0px;
    }

    .header__top {
      grid-template-columns: 1fr;
      justify-items: center;
      grid-row-gap: 10px;
    }
    .header__link {
      line-height: 50px;
    }
  }
  }
